.flag {
  margin-left: auto;
  margin-right: auto;
}

table.ui.table.compact.table-compact {
  margin-top: 0;
  margin-bottom: 2em;
}

button.ui.button.back-button {
  position: absolute;
  top: 1em;
  left: 1em;
}

.ui.statistic > div.value > sup {
  font-size: 0.2em;
  top: -2.8em;
}
