$finnish-blue: #18447e;
$grey-lighter: #eee;
$grey-light: #aaa;
$grey-mid: #555;
$grey-dark: #333;
$grey-darker: #222;

body {
  margin: 0;
  padding-top: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.arrow-down {
  box-sizing: border-box;
  height: 2em;
  width: 2em;
  border-style: solid;
  border-color: #fff;
  border-width: 0px 3px 3px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow-down:hover {
  border-bottom-width: 5px;
  border-right-width: 5px;
}

.chart-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 3em 0;
  height: 100vh;

  &:first-of-type {
    padding: 0;
    height: 'calc(100vh - 60px)',
  }

  &:nth-child(odd) {
    background-color: #333;
  }
  
  &:nth-child(even) {
    background-color: #222;
  }
}

.btn-primary {
  background-color: #161330 !important;
}

.btn-secondary {
  background-color: #4d090c !important;
}

h2 {
  color: #fff;
}

h3 {
  color: #fff;
}

.ui.container {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
